/* @import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat&family=Roboto&display=swap'); */

@font-face {
	font-family: 'HelloWhackAMole';
	src: url('../fonts/HelloWhackAMole.ttf') format('truetype');
	/* src: url('//2ttf.com/webfont/LcC336IlHqU/webfont.ttf') format('truetype'); */
}

*, *:before, *:after {
  box-sizing: inherit;
  caret-color: transparent;
}

html {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to left, #7dd437, #a3e926); 
  font-family: 'HelloWhackAMole', cursive; 
  font-size: 2rem;
}

header {
  text-align: center;
  font-size: 3rem;
  /* line-height: 1; */
}

h1 {
  font-size: 8rem;
}

.modal {
  /* position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: hidden; */
  width: 80%;
  min-width: 100px;
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center; 
  margin: 100px auto;
}

.rules {
  display: block;
  margin: 0 auto;
  /* font-size: 2.5rem; */
}

.button {
  display: block;
  width: 60%;
  min-width: 50px;
  max-width: 200px;
  height: 50px;
  margin: 20px auto;
  font-size: 2rem;
  font-family: 'HelloWhackAMole', cursive; 
  border-radius: 30px;
  outline: none;
  cursor: pointer;
}

/* .gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
  justify-content: center;
  width: 50%;
  height: 500px;
  margin: 0 auto;
  padding-top: 100px;
  cursor: url('../images/mallet.png'), pointer;
} */

.gameboard {
  width: 50%;
  min-width: 320px;
  max-width: 600px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 100px;
  /* cursor: url('../images/mallet.png'), pointer; */
}

/* .hole {
  position: relative;
  z-index: 2;
  overflow: hidden;
  display: block;  
  width: 100%;
  height: 100%;
  background: url('../images/hole.png') center no-repeat;
  background-size: contain;
} */

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
  padding-top: 100px;
}

.hole:after {
  position: absolute;
  bottom: -50px;
  z-index: 2;
  display: block;  
  background: url('../images/hole.png') center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  height: 100%;
}

.mole {
  position: absolute;
  z-index: 1;
  top: 100%;
  width: 100%;
  height: 100%;
  background:url('../images/mole2.png') bottom center no-repeat;
  background-size: 50%;
  transition: all .5s;
}

.hole.up .mole {
  top: 0;
}

.mallet {
display: none;
  position: absolute;
  height: 125px;
  z-index: 3;
  transform: translate(-10px, -40px);
  pointer-events: none;
}

@keyframes whack {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-30deg);
  }
}