@font-face {
	font-family: 'HelloWhackAMole';
	src: url('../../assets/fonts/HelloWhackAMole.ttf') format('truetype');
}

*, *:before, *:after {
  box-sizing: inherit;
  caret-color: transparent;
}

html {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to left, #7dd437, #a3e926); 
  font-family: 'HelloWhackAMole', cursive; 
  font-size: 2rem;
}


/* Header */
header {
  text-align: center;
  font-size: 3rem;
}
h1 {
  font-size: 8rem;
}


/* Modal */

.modal-wrapper {
  margin: 10px;
  padding: 25px;
  border: 1px solid #000;
  background-color: #FFFF00;
  border-radius: 10px;
}

.modal {
  width: 80%;
  min-width: 300px;
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: right; 
  margin: 50px auto;
  text-align: center;
  background-color: #FF8C00;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 0 0 1px 0 rgba(8, 11, 14, .06), 
  0 6px 6px -1px rgba(8, 11, 1, .1);
}

.info {
  display: block;
  margin-left: 0 auto;
}

.modal-inner-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.image-mole{
  display: block;
  max-width: 30%;
  height: 30%;
}

.button {
  display: block;
  width: 60%;
  min-width: 50px;
  max-width: 200px;
  margin: 20px auto;
  padding: 5px;
  font-size: 3rem;
  font-family: 'HelloWhackAMole', cursive; 
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid #000;
  border-radius: 40px;
  background-color: #FF8C00;
  box-shadow: 0 0 1px 0 rgba(8, 11, 14, .06), 
      0 6px 6px -1px rgba(8, 11, 1, .1);
  outline: none;
  cursor: pointer;
}


/* Gameboard */

.gameboard {
  width: 50%;
  min-width: 320px;
  max-width: 600px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 100px;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
  padding-top: 100px;
}

.hole:after {
  position: absolute;
  bottom: -50px;
  z-index: 2;
  display: block;  
  background: url('../images/hole.png') center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  height: 100%;
}

.mole {
  position: absolute;
  z-index: 1;
  top: 100%;
  width: 100%;
  height: 100%;
  background:url('../images/mole.png') bottom center no-repeat;
  background-size: 70%;
  transition: all 0.5s;
}

.hole.up .mole {
  top: 0;
}

/* Mallet cursor and its animations */

.mallet {
display: none;
  position: absolute;
  height: 125px;
  z-index: 3;
  transform: translate(-15px, -70px);
  pointer-events: none;
}

@keyframes whack {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-30deg);
  }
}